MULTICLASS CLASSIFICATION USING SVM ON IRIS DATASET

In [1]:
# Libraries Installation
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,accuracy_score,recall_score,f1_score,mean_absolute_error,mean_squared_error
import sklearn.model_selection as model_selection
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import preprocessing

In [2]:
mydata = pd.read_csv(r"D:\1st semester\DA lab data sets\Iris.csv")

In [3]:
mydata

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
pd.get_dummies(mydata,columns=['Species'],drop_first=True)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.1,3.5,1.4,0.2,0,0
1,2,4.9,3.0,1.4,0.2,0,0
2,3,4.7,3.2,1.3,0.2,0,0
3,4,4.6,3.1,1.5,0.2,0,0
4,5,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0,1
146,147,6.3,2.5,5.0,1.9,0,1
147,148,6.5,3.0,5.2,2.0,0,1
148,149,6.2,3.4,5.4,2.3,0,1
149,150,5.9,3.0,5.1,1.8,0,1

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(mydata.drop('Species',axis=1))
scaled_features = scaler.transform(mydata.drop('Species',axis=1))
mydata_scaled = pd.DataFrame(scaled_features,columns=mydata.columns[:-1])
mydata_scaled.head(10)

         Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0 -1.720542      -0.900681      1.032057      -1.341272     -1.312977
1 -1.697448      -1.143017     -0.124958      -1.341272     -1.312977
2 -1.674353      -1.385353      0.337848      -1.398138     -1.312977
3 -1.651258      -1.506521      0.106445      -1.284407     -1.312977
4 -1.628164      -1.021849      1.263460      -1.341272     -1.312977
5 -1.605069      -0.537178      1.957669      -1.170675     -1.050031
6 -1.581975      -1.506521      0.800654      -1.341272     -1.181504
7 -1.558880      -1.021849      0.800654      -1.284407     -1.312977
8 -1.535786      -1.748856     -0.356361      -1.341272     -1.312977
9 -1.512691      -1.143017      0.106445      -1.284407     -1.444450

In [26]:
x=mydata_scaled
y=mydata['Species']

In [28]:
x=mydata.drop(labels='Species',axis=1)
y=mydata['Species']
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.25, random_state=50)

In [29]:
y_test.value_counts()

Iris-versicolor    15
Iris-virginica     12
Iris-setosa        11
Name: Species, dtype: int64

In [30]:
svc_model = SVC()
svc_model.fit(x_train,y_train)

SVC()

In [31]:
y_predict = svc_model.predict(x_test)

In [33]:
cm = confusion_matrix(y_test,y_predict)

In [34]:
print(classification_report(y_test, y_predict))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       1.00      1.00      1.00        15
 Iris-virginica       1.00      1.00      1.00        12

       accuracy                           1.00        38
      macro avg       1.00      1.00      1.00        38
   weighted avg       1.00      1.00      1.00        38

Support shown.